/* Setting a global font for the whole html page */

html {
  font-size: 10px;
  font-family: "lora", serif;
}

/* Font sizes for text-containing elements inside the html body */

h1, h2, h3{
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 4px 2px #ff0068;


}

p, li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: whitesmoke;
    margin-right: 10px;
    margin-left: 10px;
}

/* Hover stuff */
a {
    color: teal;
}
a:hover {
    color: crimson;
}
/*background color */

html{
    background-color: #292929;
}

/*body shit */

body{
    width: 900px;
    margin: 0 auto;
    background-color: #474747;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}


img{
    display: block;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
}

/* .internet{
    color: red;
}

/* I don't know what i'm doing useless piece of trash */

/*.vertline {
    border-right: 10px white;
}
*/

div#firm p{
    color: white;
    text-align: right;
    text-shadow: 1px 1px 1px #a600ff;
    font-size: 14px
}

/*set goal things hehe */
div.goal img{
    margin-left: 600px;
    margin-top: -46px;

}

div#audio {
    margin-bottom: 14px;
}